@media screen and (max-width: 480px) {
  .logo {
    width: 9rem;
    height: 2rem;
  }
  .checks {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    margin-bottom: 1rem;
  }
}


.nav-item{
  font-style: italic;
}

  .carousel{
    background-color: #94a9be;
  }
  .carousel-inner{
    height: 60px;
  }
  .carousel-caption{
    color: rgb(207, 231, 238);
    top: 50%;
  }

  .navbar-brand{
    color: rgb(202, 13, 57);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  /*Word carousel */
.word{
  margin: 10px;
  color: rgb(91, 151, 224);
  font-style: oblique;
}

.thead-gray {
  background-color: rgb(118, 236, 249);
  color: rgb(0, 0, 0);
}


